.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  flex-wrap: wrap;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.pokemon {
  display: inline-block;
  background: #f2f2f2;
  padding: 30px 10px 10px 10px;
  margin: 10px 0px 10px 10px;
  width: 225px;
  height: 100%;
  overflow: hidden;
}

.pokemon:hover {
  cursor: pointer;
  background: #ebebeb;
}

.movie img {
  max-height: 200px;
}

.movie {
  padding: 30px 10px 10px 10px;
  margin: 10px 0px 10px 10px;
  text-align: left;
}

.movie h1 {
  margin: 5px 0px;
}

.movie h3 {
  color: #999999;
  margin: 5px 0px;
}